<!-- Toggle button -->
<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
    <i class="fa fa-bars mr-2"></i>
    <small id="toggle-button-text" class="text-uppercase font-weight-bold">Toggle</small>
</button>
<a href="https://www.linkedin.com/in/ard-scheirlynck-b5a26a8b/"><i id="social-icons"
        class="fa fa-linkedin fa-3x float-right"></i></a>
<a href="https://twitter.com/Ard_Scheirlynck"><i id="social-icons" class="fa fa-twitter fa-3x float-right"></i></a>
<a href="https://www.facebook.com/ard.scheirlynck"><i id="social-icons"
        class="fa fa-facebook fa-3x float-right"></i></a>
<a href="https://github.com/ardtieboy"><i id="social-icons" class="fa fa-github fa-3x float-right"></i></a>
<a href="mailto:ard_scheirlynck@msn.com"><i id="social-icons" class="fa fa-envelope fa-3x float-right"></i></a>