$backgroundColor: #FFFFFF;
$backgroundColorTo:#f8f9fa;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  background: -webkit-linear-gradient(to right, $backgroundColor,$backgroundColorTo);
  background: linear-gradient(to right, $backgroundColor, $backgroundColorTo);
  min-height: 100vh;
  overflow-x: hidden;
  color: black
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#social-icons {
  padding-left: 0.5em;
  color: black;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.regular-text {
  line-height: 1.5em;
  padding-left: 4em;
  padding-right: 2em;
}

.regular-text-resume {
  line-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

#profile-pic {
  border-radius: 50%;
  width: inherit;
  margin-bottom: 1em;
}

#profile-pic-resume {
  border-radius: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
  #toggle-button-text {
    display: none;
  }
  .regular-text {
    padding: 0;
  }
  #social-icons.active {
    display: none;
  }
  #profile-pic.active {
    display: none;
  }
}

.separator {
  margin: 1rem 0 3rem;
  border-bottom: 1px dashed black;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.display-custom-heading {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 1.2;
  padding: 0.5em 0 0 0;
}

[id^="hoverbox"] {
  color: gainsboro;
}
