<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  <div class="page-content p-5" id="content">
    {% include upperbutton.html %}
    {% include navbar.html %}
    {{ content }}
    {% include footbar.html %}
  </div>
</body>

</html>