<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {% seo %}
</head>

<body>
  <div class="page-content p-5" id="content">
    {% include upperbutton.html %}
    {% include navbar.html %}
    <div class="display-custom-heading text-center">{{page.title}}</div>
    <div class="separator"></div>
    {{ content }}

    <h2>Images</h2>
    <div class="row text-black">
      <div style="margin-left: auto; margin-right: auto; width: 50%;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in page.pics %}
            <div {% if forloop.index ==1 %} class="carousel-item active" {% endif %} class="carousel-item">
              <img class="d-block w-100 " src="{{image}}" alt="First slide">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    {% include footbar.html %}
  </div>
</body>

</html>